{
    default_sni 185.235.69.94
}

https://185.235.69.94 {
    tls internal

    reverse_proxy app:8501

    # WebSocket support (wymagany przez Streamlit)
    @ws {
        header Connection *Upgrade*
        header Upgrade    websocket
    }
    reverse_proxy @ws app:8501
}

# Redirect HTTP → HTTPS
http://185.235.69.94 {
    redir https://185.235.69.94{uri} permanent
}
